<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="fooldal">Angular Playground</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="fooldal">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="databinding">Databinding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="osszetettadat">Összetett adat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="tombfeltoltes">Tömb feltöltés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="onallo1">Önálló 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="objektumfeltoltes">Objektum Feltöltés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="onallo2">Önálló 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="pipe">Pipeok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="onallo3">Önálló 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="onallo4">Önálló 4</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

<footer class="bg-dark text-white text-center">
    <h4 class="py-2">Angular</h4>
</footer>
